.chat-area {
    grid-area: chat-area;
    height: calc(100vh - 20px);
    overflow: visible;
}

@media only screen and (max-width: 1000px) {
    .chat-area {
        height: 100vh;
    }

    .messages {
        height: calc(100vh - 135px) !important;
    }
}

.chat-status-bar {
    width: 100%;
}

.messages {
    display: flex;
    flex-direction: column;
    overflow-y: overlay !important;
    height: calc(100vh - 155px);
    width: 100% !important;
    border-top: 0.8px solid rgba(0, 0, 0, 0.2);
    border-bottom: 0.8px solid rgba(0, 0, 0, 0.2);
}

.message-from, .message-to {
    padding: 8px;
    border-radius: 20px;
    width: auto;
    max-width: 80%;
    text-align: left;
}

.margin-left-fix {
    display: flex;
    padding-right: 5px;
    justify-content: flex-start;
}

.margin-right-fix {
    display: flex;
    padding-left: 5px;
    justify-content: flex-end;
}

/*.message-from {
    float: left;
}

.message-to {
    float: right;
}*/

.message-input {
    width: 80%;
    padding: 8px;
    font-size: 15px;
    border-radius: 20px;
    outline: none;
    border: 1.5px solid white;
    -webkit-transition-duration: 0.2s; /* Safari */
    transition-duration: 0.2s;
}

.message-input:focus {
    border: 1.5px solid #00b7ff;
}

.message-image {
    width: 30px;
    height: 30px;
    object-fit: contain;
    border-radius: 50%;
}

.status {
    padding: 0px 10px 0px 10px;
    border-radius: 10px;
}