::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-thumb {
    background: #00b7ff;
    border-radius: 4px;
}

h1 {
    margin: 0;
    padding: 0;
}

.home {
    overflow: hidden;
    display: grid;
    grid-template-columns: calc((100vw - 50px) / 4) calc((100vw - 50px) / 4) calc((100vw - 50px) / 4) calc((100vw - 50px) / 4); /*1 column for friends, 2 columns for chat-area, 1 column for informations*/
    grid-column-gap: 10px;
    padding: 10px;
    grid-template-areas: 'friends chat-area chat-area informations';
    height: calc(100vh - 20px);
}

.blue-linear {
    background: -webkit-linear-gradient(to right, #91EAE4, #00b7ff, #91EAE4);
	background: linear-gradient(to right, #91EAE4, #00b7ff, #91EAE4);
}

.orange-linear {
    background: -webkit-linear-gradient(to right, orange, orangered, orange);
    background: linear-gradient(to right, orange, orangered, orange);
}

.red-linear {
    background: -webkit-linear-gradient(to right, red, rgb(180, 1, 1), red);
    background: linear-gradient(to right, red, rgb(180, 1, 1), red);
}

.black-linear {
    background: -webkit-linear-gradient(to right, gray, rgb(67, 67, 67), gray);
    background: linear-gradient(to right, gray, rgb(67, 67, 67), gray);
}

.violet-linear {
    background: -webkit-linear-gradient(to right, violet, purple, violet);
    background: linear-gradient(to right, violet, purple, violet);
}

.grid-item {
    height: calc(100vh - 20px);
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.3);
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 5px 22px 0 rgba(0, 0, 0, 0.19);
}

/*@media only screen and (max-width: 1200px) {
    .home {
        grid-template-columns: calc((100vw - 60px) / 3) calc((100vw - 60px) /3) calc((100vw - 60px) / 3);
        grid-template-areas: 'friends chat-area chat-area';
    }
}*/

@media only screen and (max-width: 1000px) {
    .home {
        height: 100vh;
        grid-template-columns: calc(100vw);
        grid-template-areas: 'chat-area';
        padding: 0px;
    }

    .yes-friend {
        grid-template-columns: calc(100vw);
        grid-template-areas: 'friends';
    }
    
    .yes-info {
        grid-template-columns: calc(100vw);
        grid-template-areas: 'informations';
    }
}

/* pre-defined classes that i use to style font */

.berlin-font {
    font-family: "Berlin Sans FB";
}

.arial-font {
    font-family: Arial, Helvetica, sans-serif;
}

.light-weight {
    font-weight: 400;
}

.bold-weight {
    font-weight: bold;
}

.small-text {
    font-size: 15px;
}

.medium-text {
    font-size: 18px;
}

.large-text {
    font-size: 25px;
}

.black-text {
    color: black;
}

.blue-text {
    color: #00b7ff;
}

.white-text {
    color: white;
}

.orange-text {
    color: orange;
}

.green-text {
    color: green;
}

.red-text {
    color: orangered;
}

/* margins classes */
.margin-bottom {
    margin-bottom: 20px;
}

.margin-top {
    margin-top: 20px;
}

.margin-left {
    margin-left: 20px;
}

.margin-right {
    margin-right: 20px;
}

.margin-bottom-2 {
    margin-bottom: 40px;
}

.margin-top-2 {
    margin-top: 40px;
}

.margin-top-3 {
    margin-top: 30px;
}

.margin-top-4 {
    margin-top: 100px;
}

.margin-left-2 {
    margin-left: 40px;
}

.margin-right-4 {
    margin-right: 60px;
}

.margin-right-2 {
    margin-right: 40px;
}

.margin-top-- {
    margin-top: 5px;
}

.margin-top--- {
    margin-top: 10px;
}

.margin-top-10 {
    margin-top: -15px;
}

.margin-bottom--- {
    margin-bottom: 10px;
}

.margin-right-- {
    margin-right: 5px;
}

.margin-left-- {
    margin-left: 5px;
}

.margin-right--- {
    margin-right: 10px;
}

.margin-left--- {
    margin-left: 10px;
}

.justify {
    justify-content: center !important;
}

.align {
    align-items: center !important;
}

.align-left {
    align-self: flex-start !important;
}

.align-right {
    align-self: flex-end !important;
}

.no-justify {
    justify-self: left !important;
}

/* backgrounds */
.white-background {
    background-color: white;
}

.blue-background {
    background-color: #00b7ff;
}

.white-background-trans {
    background-color: rgba(255, 255, 255, 0.3);
}

.black-background-trans {
    background-color: rgba(0, 0, 0, 0.5);
}

.trans-background {
    background-color: rgba(0, 0, 0, 0);
}

.box-shadow {
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 4px 18px 0 rgba(0, 0, 0, 0.19);
}

.box-shadow-2 {
    box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.22), 0 7px 21px 0 rgba(0, 0, 0, 0.21);
}

.cursor {
    cursor: pointer;
}

/* menu buttons */
.icon-menu img {
    width: 20px;
    height: 20px;
    cursor: pointer;
    /*filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(192deg) brightness(99%) contrast(106%);*/ /* #ffffff */
    filter: invert(63%) sepia(40%) saturate(5995%) hue-rotate(164deg) brightness(102%) contrast(105%); /* #00b7ff */
}