.informations {
    grid-area: informations;
    overflow-y: overlay !important;
}

@media only screen and (max-width: 1000px) {
    .informations {
        height: 100vh;
    }
}

.information-header {
    width: 100%;
    margin-right: 40px;
}

.button-icon {
    width: 25px;
    height: 25px;
}

.button {
    cursor: pointer;
    -webkit-transition-duration: 0.2s; /* Safari */
    transition-duration: 0.2s;
}

.button:hover {
    background-color: rgba(0, 0, 0, 0.5);
}